.api
  .col-half
    h3 1. Make a request
    code#request_text.no_flash.api-code-block stylus_content = RestClient.post('http://sass2stylus.herokuapp.com/api', {'file' => File.new('YOUR-COMPASS-FILE.scss')})
    button#request_btn.btn.flash_btn(data-clipboard-target='request_text').
        Copy
  .col-half
    h3 2. Parse a response
    code#response_text.no_flash.api-code-block File.open('YOUR-NEW-STYLUS-FILE.stylus', 'w') { |file| file.write(stylus_content) }
    button#response_btn.btn.flash_btn(data-clipboard-target='response_text').
      Copy
  .clear
