footer
  .footer
    .container
      .row
        p.copyright.pull-left.white © 2014 MojoTech · All rights reserved.
        p.attribution.pull-right.white
          | Made with
          span.heart
            | &hearts;
          | by 
          a(class='mojotech', href='http://mojotech.com')
            strong MojoTech
