.base-content
  = haml :_api
  .footer
    .contain
      = haml :_share
      #gh_btn
        %iframe{src: "http://ghbtns.com/github-btn.html?user=mojotech&repo=sass2stylus&type=fork", allowtransparency: "true", frameborder: "0", scrolling: "0", width: "62", height: "20"}
      %p.copyright.white
        © 2014 MojoTech · All rights reserved. Made by&nbsp;
        %a{href: 'http://mojotech.com', target: "_blank"} MojoTech
