.share
  a.social-network-link.mt-facebook.mt-share-inline-square-sm(href='https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fsass2stylus.com')
    img(src='http://mojotech-static.s3.amazonaws.com/facebook@2x.png')
  a.social-network-link.mt-twitter.mt-share-inline-square-sm(href='http://twitter.com/intent/tweet?text=Easily%20convert%20sass%20to%20stylus&url=http%3A%2F%2Fsass2stylus.com')
    img(src='http://mojotech-static.s3.amazonaws.com/twitter@2x.png')
  a.social-network-link.mt-linkedin.mt-share-inline-square-sm(href='http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fsass2stylus.com&summary=Easily%20convert%20sass%20to%20stylus')
    img(src='http://mojotech-static.s3.amazonaws.com/linkedin@2x.png')
  a.social-network-link.mt-google.mt-share-inline-square-sm(href='https://plus.google.com/share?url=http%3A%2F%2Fsass2stylus.com')
    img(src='http://mojotech-static.s3.amazonaws.com/google@2x.png')
