.converter.container
  .row
    .col-md-5.col-md-offset-1.converter-col.sass-col
      h2.pull-left SASS
      input#file_selector(type='file')
      button#upload.btn.pull-right.
        Upload
      button#convert.btn.pull-right.
        Convert
      form#form.sass-code.cf(method='post', action='/ajax')
        textarea#codemirror_sass(name='sass_textarea')

    .col-md-5.converter-col.styl-col
      h2.pull-left STYL
      button#download_btn.btn.pull-right.inactive.download.conditional(disabled='disabled').
        Download
      button#copy_btn.btn.pull-right.inactive.copy.conditional.flash_btn(disabled='disabled').
        Copy
      form#download_form.styl-code.cf(method='post', action='download')
        textarea#codemirror_stylus(name='stylus_textarea')

