header
  .header
    h1.logo.white.text-center
      | sass
      .two 2
      | stylus
    h2.tagline.white.text-center
      | Easily convert sass to stylus.
      a(class='scrollTo toApi inline-link white', href='#', data-scroll-goto='0') View the API.
