//Below is a list of the Sass rules that could not be converted to Stylus
// @at-root: line 2 in your Sass file


.parent
  //Stylus does not support @at-root
  //@at-root (without: media)
  //  .child1
  //    height: 100px
