h1
  //Function adjust-color is not supported in Stylus
  //color: adjust-color(red, $blue: 5)
  //Function adjust-hue is not supported in Stylus
  //color: adjust-hue(red, 10)
  //Function append is not supported in Stylus
  //$list = append($list1, $list2)
  //Function call is not supported in Stylus
  //color: call(rgb, 10, 100, 255)
  //Function change-color is not supported in Stylus
  //color: change-color(#102030, $blue: 5)
  //Function comparable is not supported in Stylus
  //$bool = comparable(2px, 1px)
  //Function fade-in is not supported in Stylus
  //$color = fade-in(red, 10)
  //Function fade-out is not supported in Stylus
  //$color = fade-out(red, 10)
  //Function feature-exists is not supported in Stylus
  //$bool = feature-exists(some-feature)
  //Function function-exists is not supported in Stylus
  //$bool = function-exists(some-function)
  //Function global-variable-exists is not supported in Stylus
  //$bool = global-variable-exists(global)
  //Function ie-hex-str is not supported in Stylus
  //$str = ie-hex-str(#aabbcc)
  //Function index is not supported in Stylus
  //$index = index(1px solid red, solid)
  foo()
    //Function keywords is not supported in Stylus
    //$list = keywords($args)
  //Function list-separator is not supported in Stylus
  //$listSep = list-separator(1px 2px 3px)
  //Function map-remove is not supported in Stylus
  //$map = map-remove(("foo": 1, "bar": 2), "bar")
  //Function mixin-exists is not supported in Stylus
  //$bool = mixin-exists(mixin)
  //Function nth is not supported in Stylus
  //$index = nth(10px 20px 30px, 1)
  //Function opacify is not supported in Stylus
  //$color = opacify(rgba(0, 0, 0, 0.5), 0.1)
  //Function percentage is not supported in Stylus
  //$percent = percentage(0.2)
  //Function quote is not supported in Stylus
  //$str = quote("string")
  //Function random is not supported in Stylus
  //$number = random(10)
  //Function scale-color is not supported in Stylus
  //$color = scale-color(hsl(120, 70%, 80%), $lightness: 50%)
  //Function index is not supported in Stylus
  //$number = str-index(abcd, a)
  //Function str-insert is not supported in Stylus
  //$str = str-insert("abcd", x, 1)
  //Function str-length is not supported in Stylus
  //$number = str-length("foo")
  //Function str-slice is not supported in Stylus
  //$str = str-slice("abcd", 2, 3)
  //Function to-lower-case is not supported in Stylus
  //$str = to-lower-case("lower")
  //Function to-upper-case is not supported in Stylus
  //$str = to-upper-case("upper")
  //Function transparentize is not supported in Stylus
  //$color = transparentize(rgba(0, 0, 0, 0.5), 0.1)
  //Function unique-id is not supported in Stylus
  //$number = unique-id()
  //Function unitless is not supported in Stylus
  //$bool = unitless(100)
  //Function variable-exists is not supported in Stylus
  //$bool = variable-exists(nonexistent)
  //Function zip is not supported in Stylus
  //$list = zip(1px 1px 3px, solid dashed solid, red green blue)
  emCalc($values...)
    //Function adjust-color is not supported in Stylus
    //adjust-color(red, $blue: 5)
