h1{
  color: adjust-color(red, $blue: 5);
  color: adjust-hue(red, 10);
  $list: append($list1, $list2);
  color: call(rgb, 10, 100, 255);
  color: change-color(#102030, $blue: 5);
  $bool: comparable(2px, 1px);
  $color: fade-in(red, 10);
  $color: fade-out(red, 10);
  $bool: feature-exists(some-feature);
  $bool: function-exists(some-function);
  $bool: global-variable-exists(global);
  $str: ie-hex-str(#abc);
  $index: index(1px solid red, solid);
  @mixin foo($args...) {
    $list: keywords($args);
  }
  $listSep: list-separator(1px 2px 3px);
  $map: map-remove(("foo": 1, "bar": 2), "bar");
  $bool: mixin-exists(mixin);
  $index: nth(10px 20px 30px, 1);
  $color: opacify(rgba(0, 0, 0, 0.5), 0.1);
  $percent: percentage(0.2);
  $str: quote('string');
  $number: random(10);
  $color: scale-color(hsl(120, 70%, 80%), $lightness: 50%);
  $number: str-index(abcd, a);
  $str: str-insert('abcd', x, 1);
  $number: str-length('foo');
  $str: str-slice('abcd', 2, 3);
  $str: to-lower-case('lower');
  $str: to-upper-case('upper');
  $color: transparentize(rgba(0,0,0,0.5), 0.1);
  $number: unique-id();
  $bool: unitless(100);
  $bool: variable-exists(nonexistent);
  $list: zip(1px 1px 3px, solid dashed solid, red green blue);
  @function emCalc($values...) {
    @return adjust-color(red, $blue: 5);
  }
}
