//Below is a list of the Sass rules that could not be converted to Stylus
//adjust-color: line 2 in your Sass file
//adjust-hue: line 3 in your Sass file
//append: line 4 in your Sass file
//call: line 5 in your Sass file
//change-color: line 6 in your Sass file
//comparable: line 7 in your Sass file
//fade-in: line 8 in your Sass file
//fade-out: line 9 in your Sass file
//feature-exists: line 10 in your Sass file
//function-exists: line 11 in your Sass file
//global-variable-exists: line 12 in your Sass file
//ie-hex-str: line 13 in your Sass file
//index: line 14 in your Sass file
//keywords: line 16 in your Sass file
//list-separator: line 18 in your Sass file
//map-remove: line 19 in your Sass file
//mixin-exists: line 20 in your Sass file
//nth: line 21 in your Sass file
//opacify: line 22 in your Sass file
//percentage: line 23 in your Sass file
//quote: line 24 in your Sass file
//random: line 25 in your Sass file
//scale-color: line 26 in your Sass file
//index: line 27 in your Sass file
//str-insert: line 28 in your Sass file
//str-length: line 29 in your Sass file
//str-slice: line 30 in your Sass file
//to-lower-case: line 31 in your Sass file
//to-upper-case: line 32 in your Sass file
//transparentize: line 33 in your Sass file
//unique-id: line 34 in your Sass file
//unitless: line 35 in your Sass file
//variable-exists: line 36 in your Sass file
//zip: line 37 in your Sass file
//adjust-color: line 39 in your Sass file


h1
  //Function adjust-color is not supported in Stylus
  //color: adjust-color(red, $blue: 5)
  //Function adjust-hue is not supported in Stylus
  //color: adjust-hue(red, 10)
  //Function append is not supported in Stylus
  //$list = append($list1, $list2)
  //Function call is not supported in Stylus
  //color: call(rgb, 10, 100, 255)
  //Function change-color is not supported in Stylus
  //color: change-color(#102030, $blue: 5)
  //Function comparable is not supported in Stylus
  //$bool = comparable(2px, 1px)
  //Function fade-in is not supported in Stylus
  //$color = fade-in(red, 10)
  //Function fade-out is not supported in Stylus
  //$color = fade-out(red, 10)
  //Function feature-exists is not supported in Stylus
  //$bool = feature-exists(some-feature)
  //Function function-exists is not supported in Stylus
  //$bool = function-exists(some-function)
  //Function global-variable-exists is not supported in Stylus
  //$bool = global-variable-exists(global)
  //Function ie-hex-str is not supported in Stylus
  //$str = ie-hex-str(#aabbcc)
  //Function index is not supported in Stylus
  //$index = index(1px solid red, solid)
  foo()
    //Function keywords is not supported in Stylus
    //$list = keywords($args)
  //Function list-separator is not supported in Stylus
  //$listSep = list-separator(1px 2px 3px)
  //Function map-remove is not supported in Stylus
  //$map = map-remove(("foo": 1, "bar": 2), "bar")
  //Function mixin-exists is not supported in Stylus
  //$bool = mixin-exists(mixin)
  //Function nth is not supported in Stylus
  //$index = nth(10px 20px 30px, 1)
  //Function opacify is not supported in Stylus
  //$color = opacify(rgba(0, 0, 0, 0.5), 0.1)
  //Function percentage is not supported in Stylus
  //$percent = percentage(0.2)
  //Function quote is not supported in Stylus
  //$str = quote("string")
  //Function random is not supported in Stylus
  //$number = random(10)
  //Function scale-color is not supported in Stylus
  //$color = scale-color(hsl(120, 70%, 80%), $lightness: 50%)
  //Function index is not supported in Stylus
  //$number = str-index(abcd, a)
  //Function str-insert is not supported in Stylus
  //$str = str-insert("abcd", x, 1)
  //Function str-length is not supported in Stylus
  //$number = str-length("foo")
  //Function str-slice is not supported in Stylus
  //$str = str-slice("abcd", 2, 3)
  //Function to-lower-case is not supported in Stylus
  //$str = to-lower-case("lower")
  //Function to-upper-case is not supported in Stylus
  //$str = to-upper-case("upper")
  //Function transparentize is not supported in Stylus
  //$color = transparentize(rgba(0, 0, 0, 0.5), 0.1)
  //Function unique-id is not supported in Stylus
  //$number = unique-id()
  //Function unitless is not supported in Stylus
  //$bool = unitless(100)
  //Function variable-exists is not supported in Stylus
  //$bool = variable-exists(nonexistent)
  //Function zip is not supported in Stylus
  //$list = zip(1px 1px 3px, solid dashed solid, red green blue)
  emCalc($values...)
    //Function adjust-color is not supported in Stylus
    //adjust-color(red, $blue: 5)
