//Below is a list of the Sass rules that could not be converted to Stylus
// @each: line 4 in your Sass file


$list = one two three four
mixy()
  //Cannot convert multi-variable each loops to Stylus
  //@each $number, $number2 in $list
  //  #hashtag
  //    background: image-url("#{$number}.png")
mixy()
  for $number in $list
    #hashtag
      background: image-url("{$number}.png")
for $animal in puma sea-slug egret salamander
  .{$animal}-icon
    width: 10px
