//Below is a list of the Sass rules that could not be converted to Stylus
// @while: line 1 in your Sass file


//Stylus does not support while loops
//@while $types > 0
//  .while-#{$types}
//    width: $type-width + $types
//  $types: $types - 1
