.api
  padding (xl-padding-block + 30) 0
  p
    margin-bottom med-padding-block
  strong
    font-weight normal
  code
    margin small-padding-block 0 (small-padding-block * 2) 0
    text-align left
