.converter
  padding xl-padding-block
  .btn
    margin-bottom small-padding-block + 7
.download
  margin-left small-padding-block
.converter-col
  margin-bottom med-padding-block
#file_selector
  display none
#upload
  margin-left 10px
