.messages
  display none
  padding small-padding-block 0
  &.error
    background red
.active-message
  display block
.close
  margin-top -10px
  padding 7px 15px 14px 14px 
  opacity 1
  transition all 500ms ease-out
  &:hover
    color white
    opacity 1
    transform rotateZ(180deg)
