.api-header
  padding-left med-padding-block
  padding-top med-padding-block
  margin-top 0
.api
  background-color darken(light-blue, 5%)
  .col-half
    padding 0 med-padding-block med-padding-block med-padding-block
  .api-code-block
    min-height inherit
    padding 10px
    font-size 12px
    white-space nowrap
    overflow-x scroll
    border-radius 0
    display inline-block
    width 78%
    height 28px
    vertical-align top
    line-height 10px
