*
  box-sizing border-box
html, body
  height 100%

html
  &.no_flash .no_flash
    border-top-right-radius 6px
    border-bottom-right-radius 6px

  &.no_flash .flash_btn
    display none

#content
  position: relative
  min-height: 100%
  padding-bottom: 323px
  background-color: #f2f6f9

body
  margin 0
  padding 0
  font-family source-sans
  font-weight normal

.base-content
  position absolute
  bottom 0
  width 100%

h1, h2, h3, .btn
  font-family source-sans-bold
  font-weight normal
h3
  margin 0 0 10px 0
a
  color blue
  &:hover
    color lighten(blue, 20%)

p
  margin 0
code
  display block
  background light-blue
  padding med-padding-block
  min-height 350px

strong
  font-family source-sans-bold

.contain
  width 60%
  margin 0 auto

.inline-link
  border-bottom 1px dotted blue
  transition color 100ms ease-out, border-bottom 100ms ease-out
  text-decoration none
  color blue
  &:hover
    text-decoration none
    color darken(blue, 50%)
    border-bottom 1px dotted darken(blue, 50%)
.btn
  color white
  font-size 16px
  text-decoration none
  text-transform uppercase
  background green
  padding (small-padding-block - 7) small-padding-block
  outline: none
  border: none
  margin 0
  &:hover
    color white
    text-decoration none
    background-color lighten(green, 10%)
    cursor pointer
  &:active
    background-color darken(green, 20%)
  &.btn-stretch-row
    width 50%
    float left
    padding 14.5px 0
.inactive
  background grey

.zeroclipboard-is-hover
  background-color #97d978
.zeroclipboard-is-active
  position relative
  top 2px

.col-header
  display inline-block
  width 50%
  background-color dark-blue
  margin 0
  padding small-padding-block 0 small-padding-block (med-padding-block + 14)
  color white

.clear
  clear both

form
  height 100%

.col-half
  width 50%
  float left
  &.converter-col
    position relative

.inner-padding
  height 100%

.action-buttons
  display inline-block
  position absolute
  top 0
  right 0
  width: 50%
