default-color = dark-blue

hilight-color = blue

vendors = webkit moz o ms official

img-path = ''

pie-enabled = true
pie-path = '/pie.htc'

html
  &.no_flash .flash_btn
    display none

html
  &.no_flash .no_flash
    border-top-right-radius 6px
    border-bottom-right-radius 6px

body, div, header, footer, h1, h2, p, ul, ol, li, code, a, span
  margin 0
  padding 0
  font-family source-sans

h1
  font-size xl-font
  font-family source-sans-bold
h2
  font-size large-font
  font-family source-sans-bold
p
  font-size med-font
code
  display block
  background light-blue
  border-radius 6px
  padding med-padding-block
  min-height 350px
strong
  font-family source-sans-bold

.inline-link
  border-bottom 1px dotted blue
  transition color 100ms ease-out, border-bottom 100ms ease-out
  text-decoration none
  color blue
  &:hover
    text-decoration none
    color darken(blue, 50%)
    border-bottom 1px dotted darken(blue, 50%)
.btn
  color white
  font-family source-sans-bold
  font-size small-font
  text-decoration none
  text-transform uppercase
  background green
  border-radius 6px
  padding (small-padding-block - 7) small-padding-block
  transition background 50ms linear
  outline: none
  border: none
  &:hover
    color white
    text-decoration none
    background lighten(green, 20%)
  &:active
    position relative
    bottom -2px
.inactive
  background grey
  &:hover
    background lighten(grey, 20%)

.pill
  code
    padding (small-padding-block / 2) small-padding-block
    padding-bottom (small-padding-block / 2) - 1
    min-height 0
    white-space nowrap
    overflow scroll
    border-top-right-radius 0
    border-bottom-right-radius 0
  .btn
    border-top-left-radius 0
    border-bottom-left-radius 0
    padding (small-padding-block - 5) small-padding-block
.white
  color white
.text-center
  text-align center
.pull-right
  float right
.pull-left
  float left
.cf
  clear both
.zeroclipboard-is-hover
  background-color #97d978
.zeroclipboard-is-active
  position relative
  top 2px
