.CodeMirror,
.cm-s-neat,
.cm-s-default.CodeMirror
  background-color transparent

.cm-s-default.CodeMirror
  border-right 1px solid darken(light-blue, 5%)


.CodeMirror-gutters
  background-color lighten(light-blue, 25%)
  border none

.cm-s-default.CodeMirror,
.cm-s-neat
  border-radius 0

.CodeMirror
  height 100%

.CodeMirror pre
  font-family Monaco
  font-size 12px

.sass-col, .styl-col
  background-color lighten(light-blue, 25%)

.cm-s-default .cm-qualifier,
.cm-qualifier
  color red

.cm-s-default .cm-property,
.cm-property,
.cm-s-default .cm-tag
  color #7B7E9B

.cm-s-default .cm-def,
.cm-def
  color #8B8CA0

.CodeMirror-linenumber
  color #C8D3E4
