.footer
  height xl-padding-block - 10
  padding-top med-padding-block - 9
  color light-blue
  background dark-grey
.copyright
  font-size tiny-font
  opacity 0.5
.mojotech
  margin-top -4px
  color light-blue
.heart
  color red
  background-repeat no-repeat
  background-position center
  padding 0 (small-padding-block - 3)
  retina-background-image('../img/heart')
