.header
  background blue
  padding xl-padding-block
.tagline
  font-size med-font
  font-family source-sans
  .inline-link
    border-bottom 1px dotted white
    &:hover
      border-bottom 1px dotted darken(blue, 50%)
.two
  margin-left -9px
  display inline
  color green
  font-family source-sans-bold
  padding (small-padding-block - 6) (med-padding-block - 4)
  background-repeat no-repeat
  backgound-position left center
  retina-background-image('../img/gear')
.toApi
  padding-left (small-padding-block - 8)
