xl-snap = 1170px
large-snap = 970px
med-snap = 768px
small-snap = 480px

light-blue = #e9f0fa
blue = #00a6ea
dark-blue = #333c4e
green = #7dd056
white = #fff
grey = #b1bfd4
dark-grey = #333333
red = #ff6678

xl-padding-block = 62px
large-padding-block = 48px
med-padding-block = 26px
small-padding-block = 10px

xl-font = 44px
large-font = 22px
med-font = 16px
small-font = 14px
tiny-font = 12px

source-sans = "Source Sans Regular", Helvetica, Helvetica, Arial, sans-serif
source-sans-bold = "Source Sans Bold", Helvetica, Arial, sans-serif

font-stack = source-sans
font-size = 16
font-color = dark-blue
