light-blue = #eef3f7
blue = #00a6ea
dark-blue = #333c4e
green = #7dd056
grey = #b1bfd4
dark-grey = #333333
red = #ed1c37

med-padding-block = 26px
small-padding-block = 10px

source-sans = "Source Sans Regular", Helvetica, Helvetica, Arial, sans-serif
source-sans-bold = "Source Sans Bold", Helvetica, Arial, sans-serif
